<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/start.png" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Demo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>To read the ID card and get people details</p>
      </ion-card-content>
    </ion-card>
    <ion-grid padding-top padding-bottom style="width:100%;">
      <ion-row>
        <ion-col>
          <ion-fab-button (click)="handleFileInput()" shape="round" fill="outline" style="margin: auto auto;">
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
        </ion-col>
        <ion-col>
          <ion-fab-button (click)="clear()" shape="round" fill="outline" style="margin: auto auto;">
            <ion-icon name="close"></ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
